/*.filters form {
    display: inline-block;
    width: 1000px; /* Specify width */
  /*  height: 40px; /* Specify height */
    /*display: flex;*/
    /*justify-content: center; /* Align the form to the right */
   /* margin-right: 0px; /* Add some margin to the right side *
}*/

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;

.filters {
    background-color: white;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;  
    align-items: center;
    position: relative;
    
}

.filters button[type="submit"] {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    box-sizing: border-box;
}
.filters button:hover {
    opacity: 0.9;
}

.filters .health-professionals, .filters .amenities {

    height: 100%; 
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    box-sizing: border-box;
}

.locations {
    border-right: 1px solid  #DDDDDD ;
}

.filters .health-professionals h3, .filters .amenities h3{
    font-weight: 600;
    margin: 2px 20px;

}
.health-professionals h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 2px 20px;   
    
}
.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    top: 100%;
    margin-top: 0;
}

div:hover > .popover {
    display: block;
    cursor: pointer;
    
  }
.popover h2 {
    font-size: 16px;
}
.popover li {
    margin: 10px 0px 5px 0px; 
    list-style: none;
}


/* styles.css */

/*body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}*/


/*main {
    display: flex;
    justify-content: center; /* Horizontally center content */
    /*align-items: center; /* Vertically center content */
    /*height: 100%;
}*/

.search-section {
    text-align: center; /* Center form horizontally */
}

/*.search-form {
    display: inline-block; /* Prevent form from taking full width */
   /* width: 1000px;
    height:100px;
}*/

.search-form input[type="text"],
.search-form button {
    padding: 10px; /* Adjust padding for better appearance */
    font-size: 16px; /* Adjust font size */
}

