/* styles.css */

/* Body and general styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
} */

header {
    background-color: #007bff; /*blue color*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /*white*/
    padding: 20px;
    text-align: center;
}

/* html adds picture background to both header, footer and body*/
html {
    background-image: url('../images/heart-patient.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8; /* Adjust the opacity value as needed (0.8 for 80% opacity) */
    height: 100vh; /* Ensure the HTML element covers the entire viewport height */
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

h2 {
    margin-top: 0;
}

/* Form styling */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
